{% extends 'FinanceBundle::base.html.twig' %}
{% trans_default_domain "app" %}

{% block body -%}
    <h1>{{ 'Share creation'|trans }}</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a class="btn btn-default" href="{{ path('share') }}">
            {{ 'Back to the list'|trans }}
        </a>
    </li>
</ul>
{% endblock %}
