{% extends 'AppBundle::base.html.twig' %}

{% trans_default_domain "app" %}

{% block title %}{{ 'main'|trans }}{% endblock %}

{% block body %}
	<h1>Тестовое задание на позицию PHP-разработчика</h1>
	<a href="https://gist.github.com/smirik/4d6f323e8c2eba9054da" target="_blank">Задание</a><br>
	<a href="https://github.com/mrStiher/finance_testcase" target="_blank">Реализация</a>
{% endblock %}